input[type="color"], input[type="date"], input[type="datetime-local"], input[type="datetime"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], select, textarea {
    line-height: 0px;
    width: 45%;
    height: 20px;
    margin-bottom: 0px;
    padding: 0px 0px;
    -webkit-user-select: text;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 3px;
    outline: 0;
    background-color: #fff;
    -webkit-appearance: none;
}
.zi_00{
     		font-family: "微软雅黑";
     		font-size: 30px;
     		/*font-weight: bolder;*/
     		font-style: italic;
     		color: #FF6666;
     	}
.zi_01{
     		font-family: "微软雅黑";
     		font-size: 30px;
     		font-weight: bolder;
     		font-style: italic;
     		color: #02AAE9;
     	}
.zi_02{
     		font-family: "微软雅黑";
     		font-size: 30px;
     		font-weight: bolder;
     		font-style: italic;
     		color: #339933;
     	}
     	
#zi_2{
     		font-family: "微软雅黑";
     		font-size: 25px;
     		font-weight: bolder;
     		font-style: italic;
     		color: red;
     	}
 .fu{
     		width: 200px;
     		height: 50px;
     	}

.div_aaa{width: 60%;}
     	.div_bbb{width: 50%;}
     	.div_ccc{width: 40%;}
.mui-numbox .mui-input-numbox, .mui-numbox .mui-numbox-input {
    display: inline-block;
    overflow: hidden;
    width: 100%!important;
    height: 100%;
    margin: 0;
    padding: 0 3px!important;
    text-align: center;
    /* text-overflow: ellipsis; */
    word-break: normal;
    border: none!important;
    border-right: solid 1px #ccc!important;
    border-left: solid 1px #ccc!important;
    border-radius: 0!important;
}
.mui-content {
				height: 0px;
				margin: 0px;
				background-color: #efeff4;
			}
			h5.mui-content-padded {
				margin-left: 0px !important;
				margin-top: 20px !important;
			}
			.mui-card {
				margin: 0px;
			}
			.main{width: 80%;margin:0 auto;/*background-color:greenyellow;*/border:3px solid  	 	#E8E8E8; }
			a:hover{text-decoration: underline;}
			/*默认table*/
table{width:100%;empty-cells:show;background-color:transparent;border-collapse:collapse;border-spacing:0}
table th{text-align:left; font-weight:400}
/*带水平线*/
.table th{font-weight:bold}
.table th,.table td{padding:8px;line-height:20px}
.table td{text-align:left}
.table tbody tr.success > td{background-color:#dff0d8}
.table tbody tr.error > td{background-color:#f2dede}
.table tbody tr.warning > td{background-color:#fcf8e3}
.table tbody tr.info > td{background-color:#d9edf7}
.table tbody + tbody{border-top:2px solid #ddd}
.table .table{background-color:#fff}
 /*带外边框*/
/*.table-bordered{border:1px solid #ddd;border-collapse:separate;*border-collapse:collapse;border-left:0}
.table-bordered th,.table-bordered td{border-left:1px solid #ddd}
.table-border.table-bordered{border-bottom:0}*/
/*带横向分割线*/
.table-border{border-top:5px solid #ddd}
.table-border th,.table-border td{border-bottom:1px solid #ddd}
			/*奇数行背景设为浅灰色*/
.table-striped tbody > tr:nth-child(odd) > td,.table-striped tbody > tr:nth-child(odd) > th{background-color:#f9f9f9}

.table .text-c th,.table .text-c td{text-align:center}/*整行居中*/
.text-head{text-align: center;}
/*禁用状态*/
.btn.disabled{cursor:not-allowed;background-image:none;opacity:.65;filter:alpha(opacity=65);box-shadow:none; pointer-events:none}
.table_clq{border-top: 1px solid #E8E8E8; border-bottom 1px solid #E8E8E8;margin-top: 50px;}

.table_caidxds{height: 150px;border-top: 1px solid #E8E8E8; border-bottom 1px solid #E8E8E8; cornflowerblue;margin-top: 40px;}
		#one_text{width: 70px;height: 25px;}
		.one_biaoqian{height:35px;width:420px;float:right;margin-right:0px;margin-top: 10px;}
		.gyjc_head{height: 10px;}
		.hjfb input{
			clear: both;
			float: right;
			margin-right: 0px;
		}
		.hjfb{
			margin-left: -40px;
		}
		.hjfb li{
			width: 130px;
			list-style: none;
			float: left;
			margin-right: 9px;
			/*border: dashed 1px red;*/
		}
		.two_biaoqian{
			font-size: 20px;
			height: 20px;
			width: 250px;
			list-style: none;
			margin: 0px auto;
			margin-top: 20px;
		}
		.table_cai012{height: 150px;margin-top: 40px;border-top: 1px solid #E8E8E8; border-bottom 1px solid #E8E8E8;}