* {
	margin: 0;
	padding: 0;
	list-style: none;
}

 .active,.active2,.active3{
	background-color: #3370B0 !important;
	color:white;
	font-weight: bold !important;
} 

#main{
	margin: 0 auto;
	
}

#head{
	margin: auto;
	width: 80%;
	text-align: center;
	height: 34px;
	background-color: #f6f6f6;
}

/*---------走势图------------*/
.table_lq{

	margin: auto;
	text-align: center;
	font-size: 13px;
	border-color: gray;
	border-collapse: separate;
	border: 1px solid #fff;
}
#yincang {
	width:120px;
}

.trStyle {
	width:25px;
	height: 25px;
	padding-top: 5px;
}

.tdIssue{
	height: 25px; 
	padding-top:4px;
	text-align: center;    /*设置水平居中*/
    vertical-align: middle !important;    /*设置垂直居中*/}
.table_lq thead{
	background-color: #CFDFF3;

}
.table_lq th{
	font-weight: 300;
	border: 1px solid #fff;
    text-align: center;    /*设置水平居中*/
    vertical-align: middle;    /*设置垂直居中*/
}
.table_lq tbody{
	background-color: #F7F0F0;
}

.table_lq td{
    		border: 1px solid #fff;
    		text-align: center;
    	}
.table_lq .num {
	width: 25px !important;
}

.table_lq .numqt {
	width: 30px !important;
}

.box_qiu{
	background-position: center center; 
	width: 16px;
	height: 15px;
	position: relative;
}
.box_dx{
	background: #99CC99;
    color: #fff;
    width: 10px;
    height: 15px;
    margin: 0 auto;
    line-height: 15px;
    font-family: arial;
}
.box_jo{
	background: #E0B26D;
    color: #fff;
    width: 16px;
    height: 15px;
    margin: 0 auto;
    line-height: 15px;
    font-family: arial;
}

.box_green{
	background: #339933;
    color: #fff;
    width: 16px;
    height: 15px;
    margin: 0 auto;
    line-height: 15px;
    font-family: arial;
}
.box_blue{
	background: #02AAE9;
    color: #fff;
    width: 16px;
    height: 15px;
    margin: 0 auto;
    line-height: 15px;
    font-family: arial;
}
.box_red{
	background: #FF6666;
    color: #fff;
    width: 16px;
    height: 15px;
    margin: 0 auto;
    line-height: 15px;
    font-family: arial;
}
/*---------模拟选号------------*/
    	.mn_xuanlan{
    	    margin:0 auto;
    	   
    	   
		    margin-top: -10px;
		   
    	}
    	.wrap ul li {
    		float: left;
    		width: 23px;
    		height: 23px;
    		float: left;
    		display:inline;display:table;
    		text-align: center;
    		vertical-align: middle;    /*设置垂直居中*/
    		padding-top:4px;
    		margin-right: 2px;
    		cursor: pointer;
    		font-size: 12px;
    		color:#EAEEEE;
    		background: #EAEEEE;
    	}
    	.konghang ul li {
    		float: left;
    		width: 23px;
    		height: 23px;
    	/*	margin-left: 5px;*/
    		/*margin-bottom: 2.5px;*/
    		float: left;
    		text-align: center;
    		font-size: 12px;
    		background: #EAEEEE;
    		line-height: 24px; 
    		margin-right: 1px;
    	}
    	
    	#middle {
    		width: 80%;
    		margin: 0px auto;
    		height: 150px;
    	}
    	
    	.wrap ul li:last-child {
    		margin-right: 0;
    	}
    	
    	.wrap li.active {
    		background: #3370B0;
    		color: white;
    	}
    	
    	#mnxh {
    		height: 30px;
    	}
    	
    	.monixh {
    		text-align: center;
    		background-color: #EAEEEE;
    		float: left;
    		display:inline;display:table;
    		width: 119px;
    		height: 24px;
    		display:inline;display:table;
    		font-size: 14px;
    	}
    	.moni_xh {
    		text-align: center;
    		background-color: #EAEEEE;
    		font-weight:400;
    		line-height: 23px;
    		float: left;
    		margin-right: 1px;
    		width: 119px;
    		font-size: 14px;
    		margin-left: 36px;
    	}
    	.table_td1 {
    		text-overflow: ellipsis;
    		overflow: hidden;
    		white-space: nowrap;
    		padding: 2px
    	}
    	
    	#xh {
    		width: 100%;
    		border: 1px solid #FFFFFF;
    		list-style: none;
    		font-weight: 600;
    		line-height: 35px;
    		margin: 0px auto;
    		margin-top: 55px;
    		text-align: center;
    	}
    	
    	#ul button {
    		text-align: center;
    		padding: 0;
    		width: 25px;
    		height: 25px;
    		min-height: 20px;
    		min-width: 20px;
    		background: #F3F3F3;
    		text-align: center;
    		margin-right: 3px;
    		margin-top: 3px;
    		border: 1px solid lightgrey;
    	}
    	
    	.table_td button {
    		text-align: center;
    		padding: 0;
    		width: 25px;
    		height: 25px;
    		min-height: 20px;
    		min-width: 20px;
    		background: #F3F3F3;
    		/*text-align: center;*/
    		margin-right: 3px;
    		margin-top: 3px;
    		border: 1px solid lightgrey;
    	}
    	
    	#ul li:hover {
    		cursor: pointer;
    	}
    	
    	#ul li:last-child {
    		margin-right: 0px;
    	}
    	
    	
    	

#updown{width: 15px;height: 15px;margin-left: 15px;}
.below{width: 80%; margin: auto;}
.below .tabm { margin: 11px 5px 0px 5px; padding-left: 10px; border-bottom: 1px solid #fff; z-index: 1;}
.below .tabm li { margin: 0px; display: inline; list-style-type: none; }
.below .tabm a, a.active { margin: 0px; padding: 5px 5px 0px 5px; border: 1px solid #fff; color: #000; background: #fff; text-decoration: none;}
.below .tabm a.active { background: #F3F3F3; border-bottom: 3px solid #F3F3F3; }
.below .tabm a:hover { background: #F3F3F3;}
.below .activecontent { margin: 0px 5px; padding: 3px; border: 1px solid #fff; border-top: none; height: 130px; color: #000; background: #F3F3F3;}
.below .hiddencontent { display: none; }
.kongg {width: 100px; height: 25px;}

