* {
	margin: 0;
	padding: 0;
	list-style: none;
}

#title {
	margin: auto;
	color: #B92734;
}

#head {
	margin: auto;
	text-align: center;
	height: 34px;
	line-height: 34px;
	background-color: #f6f6f6;
}

#head span {
	margin-right: 10px;
	font-size: 15px;
}

/*---------閻犙勬緲婵炲秹宕堕敓锟�---------*/
.tabl {
	margin: auto;
	text-align: center;
	font-size: 13px;
	border-collapse: collapse;
	border-spacing: 0px;
	border: 0px solid #FFF;
}

.tabl>thead>tr>th {
	border: 1px solid #FFF;
}

.tabl>tbody>tr>td {
	border: 1px solid #FFF;
}

.tabl .num {
	height:20px;
}

.tabl thead {
	display: 4;
	background-color: #CFDFF3;
	font-weight: 200;
}

.tabl th {
	font-weight: 700;
	padding-top: 3px;
	text-align: center;
}

.tabl tbody {
	background-color: #F7F0F0;
}

#qishuUl {
	margin-left: 87px;
	margin-top: -54px;
}

.tdIssue {
	padding-top: 3px;
	height: 25px;
}

.trStyle {
	height: 18px;
	padding-top: 5px;
}

#updown {
	width: 15px;
	height: 15px;
	margin-left: 5px;
}

#qishuUl {
	margin-left: 87px;
	margin-top: -54px;
}

#yincang {
	width: 120px
}

.tdFirst {
	background-color: #F1F1D6;
	padding-top: 2px;
}

.tdSecond {
	background-color: #F1F1D6;
	padding-top: 2px;
}
/*---------婵☆垪鍓濈�娆撴焻婢跺﹤濞�-----------*/
.mn_xuanhou {
	margin: auto;
	margin-top: -10px;
	width: 548px;
}

.wrap ul li {
	float: left;
	width: 24px;
	height: 24px;
	margin-left: 1px;
	float: left;
	text-align: center;
	cursor: pointer;
	font-size: 12px;
	color: #F1F1D6;
	background: #F1F1D6;
	line-height: 26px;
}

.konghang ul li {
	float: left;
	width: 23px;
	height: 23px;
	/*	margin-left: 5px;*/
	/*margin-bottom: 2.5px;*/
	float: left;
	text-align: center;
	font-size: 12px;
	background: #F1F1D6;
	line-height: 24px;
	margin-right: 1px;
}

.wrap ul li:last-child {
	margin-right: 0;
}

/* .wrap li.active {
	background: #013300;
	color: white;
} */

.monixh {
	text-align: center;
	background-color: #EAEEEE;
	font-weight: 400;
	line-height: 25px;
	float: left;
	width: 119px;
	font-size: 14px;
	margin-left: 0px;
}

.moni_xh {
	text-align: center;
	background-color: #EAEEEE;
	font-weight: 400;
	line-height: 24px;
	float: left;
	height: 23px;
	width: 121px;
	font-size: 14px;
	margin-left: 0px;
}

.table_td1 {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	padding: 2px
}

#xh {
	border: 1px solid #FFFFFF;
	list-style: none;
	font-weight: 600;
	line-height: 35px;
	margin: 0px auto;
	margin-top: 55px;
	text-align: center;
}

#ul button {
	text-align: center;
	padding: 0;
	width: 25px;
	height: 25px;
	min-height: 20px;
	min-width: 20px;
	background: #F3F3F3;
	text-align: center;
	margin-right: 3px;
	margin-top: 3px;
	border: 1px solid lightgrey;
}

#ul li:hover {
	cursor: pointer;
}

#ul li:last-child {
	margin-right: 0px;
}

/*---------VIP闂侇偄顦ぐ锟�----------*/
#vipxh {
	background-color: #CFDFF3;
	border: 1px solid lightgray;
}

.vipxh_tx p {
	font-weight: 600;
	font-size: 26px;
	margin-left: 30px;
	margin-top: 7px;
	color: red;
}

.left_index {
	float: left;
}

.li_lf {
	width: 30px;
	height: 29px;
	font-size: 13px;
	border: 1px solid darkgray;
	text-align: center;
	background-color: white;
	float: left;
	list-style: none;
	padding-top: 5px;
}

.jinyong {
	width: 80%;
	position: absolute;
	z-index: 100;
	background: #CDC9C9;
	filter: alpha(Opacity = 70);
	-moz-opacity: 0.2;
	opacity: 0.5;
}
/*my  */
.c{
	width:11%;
}
table{
	text-align: center;
}
.tdnum{
	width:2%;
}
.NUll{
	width:5%;
}
.tdSecond{
	background-color: #F1F1D6;
padding-top: 2px;
}
.nextbig{
	width:1000px;
	height: 40px;
	margin:0 auto;
	margin-top: -48px;
}
.active,.active2,.active3{
	background-color: #AE0000 !important;
	color:white;
	font-weight: bold !important;
}
